body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-container {
    width: 50%;
}

form {
    padding: 20px;
    border: 1px solid #6c757d;
    border-radius: 22px;
}

.form-control {
  border: 2px solid #6c757d;
  border-radius: 6px;
}

.form-control:focus {
  border-color: #0d6efd;
  box-shadow: 0 0 6px rgba(13, 110, 253, 0.4) !important;
}

.list-group-item {
        border: var(--bs-list-group-border-width) solid #6281a0 !important;
}
